* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #663399;
    color: white;
    padding: 60px;
    text-align: center;
}

header h1 {
    margin-bottom: 5px;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
}

.content {
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

    
}
.card1 button{
    width: 50%;

}
.card1{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}
.card2 button{
    width: 100%;

}
.card2{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}
.card3 button{
    width: 35%;
}
.card3{
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;

}

aside {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    margin-bottom: 5px;
}

ul li a {
    text-decoration: none;
    color: #663399;
    padding: 5px 10px;
    border: 1px solid #663399;
    border-radius: 4px;
}

.btn {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
}

.btn.blue {
    background-color: #663399;
    color: white;
}

.btn.pink {
    background-color: #FF69B4;
    color: white;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.menu {
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}

.menu h2 {
  margin-bottom: 10px; 
  font-size: 18px;
  font-weight: bold;
}

.menu ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

.menu li {
  position: relative; 
  padding-left: 15px;
  margin-bottom: 10px; 
  background-color: #f9f9f9; 
  border-radius: 4px; 
  padding: 10px 15px; 
}



.menu a {
  text-decoration: none; 
  color: #333; 
}

.info {
  padding: 20px;
  border-radius: 8px;
  background-color: #f5f5f5;
  margin-bottom: 20px;
}
.info h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.info p {
  line-height: 1.6;
  color: #333;
}


.social a {
    margin-left: 10px;
    color: white;
    text-decoration: none;
}

.social a:first-child {
    margin-left: 0;
}

p{
    margin-bottom: 1rem;
}